* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

h1, h3{
text-align: center;
}

#random {
height: 500px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
justify-content: space-around;
}

p {
font-size: 50px;
color: red;
}